<div class="footer">
  {% assign link = '/about' %}
  <span class="block">&copy luke notes 2014-{{ site.time | date: '%Y' }}</span>
  <span class="block"><a href="{{ link | prepend: site.baseurl }}">About</a> · 
  <a href="{{ site.url }}/feed.xml">RSS</a> · 
  <a href="https://twitter.com/{{site.twitter_username}}" target="_blank">Twitter</a> · 
  <a href="https://github.com/{{site.github_username}}" target="_blank">GitHub</a></span>
  <span class="block">Theme by <a href="https://github.com/heiswayi/the-plain" target="_blank">Heiswayi Nrird</a></span>
</div>

